<table class="w-full">
  <tr>
    <td>
      <table  class="max-w-[470px] pl-5 pt-5 pb-5" >
        <tr>
          <td class="bg-white text-right p-3">
            <img src="C:\Users\HP\OneDrive\Documents\Dipali\Publicis Assignment\publicis-email-dev-assignmentment\src\images\CTA.png" class="w-[110px] h-[45px] mx-auto" alt="image-1">
          </td>
          <td class="pl-5 pt-2 text-[12px] leading-[14px] text-[#002B2B] font-sans w-[357px]">
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </td>
                  
        </tr>
        
      </table>
    </td>
  </tr>
</table>
