<table class="w-full">
  <tr>
    <td class="mx-auto">
      <!-- image -->
      <table class="pb-[43px] w-[580px] sm:w-[375px] mx-auto">
        <tr>
          <td>
            <x-image class="w-[560px]  sm:w-[375px]  "imgUrl="Hero_Image.png" href="#" />
          </td> 
        </tr>
      </table>
      <table class="pb-[43px] w-[580px] sm:w-[335px] mx-auto">
        <tr>
          <td class="w-[500px] sm:w-[335px] text-center text-[24px] leading-[28px] font-sans font-bold text-[#005555] pt-4" >
            Excepteur sint occaecat cupidatat
          </td>
        </tr>
        <tr>
          <td class="w-[500px] sm:w-[335px] text-center text-[16px] leading-[18px] font-sans font-normal pt-5 text-[#444444] mx-auto">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </td>          
        </tr> 
        <tr>
          <td class="pt-5 text-center pb-[43px]">
            <x-image class="max-w-[350px] sm:w-[335px] mx-auto" imgUrl="CTA.png" href="#" />
          </td>
        </tr>
        
      </table>
    </td>
  </tr>
</table>
