<table class="w-full">
  <tr>
    <td>
      <table class="pb-[43px] pl-5 pr-5">
        <tr>
          <td>
            <img src="src/images/image-3.png" class="w-[560px] h-[203px]" alt="image-2">
          </td>          
        </tr>
        <tr>
          <td class="text-center text-[24px] leading-[28px] font-bold text-[#005555]" style="font-family: Arial, Helvetica, sans-serif;">
            Excepteur sint occaecat cupidatat
          </td>
        </tr>
        <tr>
          <td class="text-center text-[16px] leading-[19px] font-sans font-normal pt-5 text-[#444444] w-[500px]">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </td>          
        </tr>  
        <tr>
          <td align="center" class="pt-5">
            <img src="src\images\CTA.png" alt="CTA1" class="max-w-[350px] bg-teal-600 text-white text-[20px] leading-[23px] font-sans font-bold h-[46px]" title="Ut enim ad minim veniam">
          
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
