<table class="w-full" >
  <tr>
    <td class="pt-[35px] pl-3">
      <table class="w-[560px] sm:w-[336px]">
        <tr>
          <td  class="font-sans text-[12px] leading-[14px] font-bold pb-3" >Ut enim ad minim:</td>
        </tr>
        <tr>
          <td  class="font-sans text-[12px] font-normal leading-[13.8px] text-left pb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </td>
        </tr>
        <tr>
          <td  class="font-sans text-[12px] font-normal leading-[13.8px] text-left ">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</td>
        </tr>
        <tr>
          <td  class="pt-[25px] font-sans text-[12px] leading-[14px] font-bold" >Sint occaecat cupidatat:</td>
        </tr>
        <tr>
          <td>
            <ol class="list-decimal pl-5">
              <li class="text-[12px] leading-[13.8px]">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
              <li class="text-[12px] leading-[13.8px]">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat</li>
             
            </ol>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
