<table class="w-full">
  <tr>
    <td>
      <!-- line -->
      <table class=" w-[560px] sm:w-[335px] mx-auto">
        <tr>
          <td><hr class="border border-[#002B2B] text-center" /></td>
        </tr>
        <tr>
          <td class="w-[500px] sm:w-[335px] text-center text-[12px] leading-[14px] font-sans text-black pt-4" >
            Sed do eiusmod tempor incididunt ut labore
          </td>
        </tr>
        <tr>
          <td class="pt-5 pb-5 text-center">
            <x-image class="w-[100px] h-[40px]" imgUrl="image-2.png" href="#" />
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
